#exp_container{
    background-color: rgb(205, 235, 235);
    
}
#about{
    background-color: rgb(140, 175, 96);
}

h1, h2, h3, h4, h5, p {
    font-family: 'Rajdhani', sans-serif;
}

#projects{
    background-color: rgb(170, 197, 144);
}