@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=League+Spartan:wght@300&display=swap");
body {
  font-family: "League Spartan", sans-serif;
}
h1,
h2,
h4,
a, .nav-link {
  color: #7a3700;
}
p {
  display: flex;

  line-height: 1.5rem;
  color: #333333;
  font-size: 20px;
}
/* buttons */
.btn {
  background-color: #d4823a !important;
  border-radius: 210px;
  color: #ffffff;
  border: none;
  padding-left: 2rem;
  padding-right: 2rem;
}
.topcontent {
  font-size: 100px;
  text-align: center;
}
.pcontent {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1,
h5 {
  font-weight: 700;
}
#passGenLogo {
  width: 700px;
  height: 300px;
}

#logo {
  padding: 10px;
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* icons 
.icon{
    width: 100% !important;
    color: #fff !important;
    background-color: #2299aa;
    border-radius: 28px;
    height: 50px;
    max-width: 50px;
    background-size: 20%;
    padding: 12px;
    margin: auto;
} */

/* footer 
.footer a{
    text-decoration: none;
    color: #2299aa;
    font-style: italic;
}
*/
hr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
/*for auto hiding content, displays on hover*/
.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
  color: rgb(104, 50, 0);
}


